body{
    background-color: #f1f1f1;
}
.imag-ronde {
    border-radius: 100%;
}

.imag-centre{
    text-align: center;
    padding-top: 2%;
  
}
.bordure{
    border: 3px black outset;
    height: 500px;
    width: 98%;
    text-align: center;
    margin: 1%;
    background-image: url('pexels.jpg');
    background-size: cover;
    /*background-repeat: repeat-x;*/
    background-attachment: fixed;
}
.animate__backInLeft {
    display: inline-block;
    padding: 5px;
    margin: 0 30%;
    animation: backInLeft; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
    border: 1px #363636 solid;
    background-color: cornsilk;
    font-family: cursive;
    font-weight: 200px;
    font-size: 18px;
    width: 40%;

  }

  .cadre{
    border: 1px #363636 solid;
    padding: 5px;
      text-align: center;
      font-family: cursive;
      font-weight: 200px;
      font-size: 18px;
      /* margin-top: 2%;*/
      height: auto;
      width: 80%;
      margin: 2% 10%;
      background-color: cornsilk;
    }

  .text-centre{
      padding-top: 2%;
      text-align: center;
      font-family: cursive;
      font-weight: 300px;
      font-size: 27px;
  }

  .taille{
      height: 350px;
      width: 350px;
      margin-left: 1%;
  }
  .card{
    border: transparent;
  }

  .row {
      margin-left: 5%;
  }

  hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 3px solid rgb(14, 3, 3);
    margin-left: 530px;
    margin-right: 500px;
    padding: 0px;
}

.heure-centre{
    text-align: center;
    font-family: cursive;
    font-weight: 250px;
    font-size: 27px;
}

.positionnement{
    position: fixed;
    right: 0px;
    bottom: 0px;
}

element{
    position: fixed;
    right: 0px;
    bottom: 0px;
}

.couleur{
    color: #fff;
    margin-top: 2%;
}

.taille_img{
    color:black; text-decoration: none;
}
a{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}
a:hover{
    color: #760001;
    border-bottom: 3px solid #760001;
}

#banniere_image
{
width: 98%;
margin: 1%;
height: 200px;
border-radius: 5px;
background-color: rgb(168, 164, 149);
position: relative;
box-shadow: 0px 4px 4px #1c1a19;

margin: auto;
}
#banniere_description
{
position: absolute;
bottom: 0;
border-radius: 0px 0px 5px 5px;
width: 100%;
height: 33px;
padding-top: 10px;
padding-left: 4px;
background-color: rgba(24,24,24,0.8);
color: white;
font-size: 0.8em;
}
.bouton_rouge
{
display: inline-block;
height: 25px;
position: absolute;
right: 5px;
bottom: 5px;
background: url('fond_degraderouge.jpg') repeat-x;
border: 1px solid #760001;
border-radius: 5px;
font-size: 1.2em;
text-align: center;
padding: 3px 8px 0px 8px;
color: white;
text-decoration: none;
}
.bouton_rouge 
{
border: 0;

}
.secret
{
   
    padding-top: 60px;
      text-align: center;
      font-family: cursive;
      font-weight: 200px;
      font-size: 30px;
      /* margin-top: 2%;*/
      height: auto;
      width: 80%;
      margin: 2% 10%;
}